name: Hivebox CI

on:
  push:
    branches: [main, develop]
  pull_request:
    branches: [main, develop]

jobs:
  lint:
    name: Lint Python code
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6.0.1

      - name: Install Python
        uses: actions/setup-python@v6.1.0
        with:
          python-version-file: ".python-version"

      - name: Install uv
        uses: astral-sh/setup-uv@v7.2.0
        with:
          enable-cache: true

      - name: Install dependencies
        run: uv sync --locked --group dev

      - name: Lint Python code with ruff
        run: uv run ruff check --output-format=github .

      - name: Check Python formatting with ruff
        run: uv run ruff format --check .
